*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/onlinecoursebanner.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding-top: 20px;
    width: 250px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.loginbtn{
    background-color: #777;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #04dd1a;
    background: #04dd1a;
    transition: 1s;
}
/*@media(max-width:700px)
{
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #04dd1a;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: 0%;
        z-index: 2;
        text-align: left;
    }
}*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.crs-col{
    background: #4e535ef2;
    width: 100%;
    height: 100%;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.crs-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
.courses{
    text-align: start;
    background-color: #f9f9ff;
    height: 100%;
    position: relative;
}
.courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;

}
.details{
    padding: 15px 15px 0 15px;
}
.details span{
    font-size: 12px solid;
    color: #777;
}
.details h6{
    font-size: 28px;
}
.cost{
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}

.footer{
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-col{
    padding-bottom: 40px;
}
.footer h3{
    color: aliceblue;
    font-weight: 600;
    padding-bottom: 20px;
}
.footer li{
    list-style: none;
    color: #7b8387;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.footer li:hover{
    color: aliceblue;
}
.footer p{
    color: #7b8387;
}
.footer .subscribe{
    margin-top: 20px;
}
.footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    color: #fff;
}
.footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 15px 12px;
    background-color: #fff;
    font-weight: 600;
}
.footer .subscribe a.yellow{
    color: #fff;
    background: #fdc938;
    transition: 0.3s ease;
}
.footer .subscribe a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}